___
# Ciência dos Dados - PROJETO 1

## Leonardo Bhering Gonçalves
___

## Qual o nível de escolaridade de uma pessoa baseado na renda de seus pais?

___
## Introdução

Neste projeto de Ciência dos Dados analizarei o quanto o nivel de renda dos pais pode influenciar no nivel de escolaridade de seus filhos.

___
## Filtros da base de dados

In [3]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [4]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Leonardo\Documents\INSPER\CiDadosDP\Projetos\Projeto 1

In [5]:
#Se usar o arquivo descompactado
dados_2015=pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [6]:
tab_reduzida = dados_2015.iloc[1:,[10,12,44,46,48,80]]
tb = tab_reduzida.rename(columns={"V8005":"Idade (em anos)"})
tb

        Idade (em anos)  V0402  V0601  V6002  V6003  V7122
1                    23      1      1    NaN    NaN    NaN
2                    35      1      1    4.0    5.0    NaN
3                    34      2      1    NaN    NaN    NaN
4                    11      3      1    4.0    1.0    NaN
5                     7      3      1    2.0    1.0    NaN
6                     4      3      3    2.0    7.0    NaN
7                    18      5      1    NaN    NaN    NaN
8                    46      1      1    NaN    NaN    NaN
9                    81      4      1    NaN    NaN    NaN
10                   71      1      1    NaN    NaN    NaN
11                   47      1      1    NaN    NaN    NaN
12                   24      3      1    NaN    NaN    NaN
13                   28      1      1    NaN    NaN    NaN
14                   50      2      1    NaN    NaN    NaN
15                    1      3      3    NaN    NaN    NaN
16                   34      1      1    NaN    NaN    NaN
17                   35      2      1    NaN    NaN    NaN
18                   16      3      1    NaN    NaN    NaN
19                   11      3      1    2.0    1.0    NaN
20                    3      3      3    NaN    NaN    NaN
21                   57      1      1    NaN    NaN    NaN
22                   51      2      1    NaN    NaN    NaN
23                   16      3      1    4.0    2.0    NaN
24                   60      1      1    NaN    NaN    NaN
25                   50      1      1    2.0    5.0    NaN
26                   30      3      1    NaN    NaN    NaN
27                   26      1      1    NaN    NaN    NaN
28                   20      2      1    NaN    NaN    NaN
29                    1      3      3    NaN    NaN    NaN
30                   54      1      1    NaN    NaN    NaN
...                 ...    ...    ...    ...    ...    ...
356874               15      3      1    2.0    1.0    NaN
356875               54      1      3    NaN    NaN    NaN
356876               47      2      3    NaN    NaN    NaN
356877               24      3      1    NaN    NaN    NaN
356878               22      3      1    NaN    NaN    NaN
356879               20      3      1    NaN    NaN    NaN
356880               28      4      1    NaN    NaN    NaN
356881               30      1      1    NaN    NaN    NaN
356882               31      2      1    NaN    NaN    NaN
356883                9      3      1    2.0    1.0    NaN
356884                4      3      3    2.0    7.0    NaN
356885               32      1      1    NaN    NaN    NaN
356886               30      2      1    NaN    NaN    NaN
356887                4      3      3    2.0    9.0    NaN
356888                1      3      3    NaN    NaN    NaN
356889               34      1      1    2.0    1.0    NaN
356890                9      3      1    2.0    1.0    NaN
356891                6      3      3    2.0    1.0    NaN
356892                5      3      3    2.0    9.0    NaN
356893                2      3      3    NaN    NaN    NaN
356894               57      1      3    NaN    NaN    NaN
356895               36      3      1    NaN    NaN    NaN
356896               18      4      1    NaN    NaN    NaN
356897               57      1      1    NaN    NaN    NaN
356898               33      3      1    NaN    NaN    NaN
356899               38      1      1    NaN    NaN    NaN
356900               39      2      1    NaN    NaN    NaN
356901               17      3      1    2.0    2.0    NaN
356902               15      3      1    2.0    2.0    NaN
356903                7      3      1    2.0    1.0    NaN

[356903 rows x 6 columns]

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!